.header__logo {
  @include no-margin;
  background-image: url(/src/images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 116px;
  height: 22px;
  padding-top: 20px;
}
