.card-container {
  @include no-margin;
  @include flex-row;
  width: 100%;
  max-width: $content-width-1920;
  padding-bottom: 175px;

  @media screen and (max-width: 1280px) {
    @include flex-column;
    align-items: center;
  }
}
