.main-menu__item {
  @include no-margin;
  @include text-main-menu;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &:hover {
    color: #7a7a7a;;
  }

  &:first-of-type {
    border-bottom: 4px solid $table;
  }
}
